body {
    background-color: #2A2A2D;
    font-family: 'Source Sans Pro', sans-serif;

}

.header {
    background-color: white;
    padding: 2%;
    text-align: center; 
}

.card {
    background-color: white;
}

footer {
    color: white;
    text-align: center;
}

button {
    background-color: #2A2A2D;
    border-radius: 3%;
    color: white;
    border: none;
    padding: 1%;
}

button:hover {
    color: #A8A8AE;
}